/* ==========================================================================
       Footer - The bottom of every page
   ========================================================================== */
html,
body {
    height: 100%;
    position: relative;
}

.site-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 8rem 0 0;
    padding: 1rem 15px;
    font-family: 'BrandonGrotesqueWeb-Regular', sans-serif;
    font-size: 1.5rem;
    line-height: 1.75em;
    color: #572c16;
}

.site-footer a {
    color: #572c16;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover {
    color: #572c16;
    border-bottom: #572c16 1px solid;
}

.poweredby {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

.copyright {
    display: block;
    width: 45%;
    float: left;
}

/* ==========================================================================
   13. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .site-footer {
        margin-top: 3rem;
    }

    .post-template .site-footer,
    .page-template .site-footer {
        margin-top: 0;
    }
}
